/**
 * Copyright © 2016 Metrilo. All rights reserved.
 */

#analytics_general .metrilo-logo {
    background: url('../images/favicon-metrilo.png');
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    line-height:36px;
    float: left;
    margin-right: 10px;
}
#metrilo-info {
    float:left;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 7px;
}
#metrilo-info a {
    color:#378FE2!important;
    margin: 0;
}
#metrilo-info .text {
    float:left;
    padding-top: 5px;
}
#metrilo_import_status {
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    padding: 10px 0;
}
#metrilo_import_status img {
    margin-right: 5px;
}
