<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_metrilo_analytics">
        <observer name="metrilo_config_change" instance="Metrilo\Analytics\Observer\Config"/>
    </event>
    <event name="customer_save_after">
        <observer name="metrilo_event_customer_mass_update" instance="Metrilo\Analytics\Observer\Customer" />
    </event>
    <event name="catalog_category_save_after">
        <observer name="metrilo_event_category_update" instance="Metrilo\Analytics\Observer\Category" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="metrilo_event_product_update" instance="Metrilo\Analytics\Observer\Product" />
    </event>
</config>
