<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Add new Tab -->
        <tab id="metrilo" translate="label" sortOrder="300">
            <label>Metrilo</label>
        </tab>
        <section id="metrilo_analytics" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Analytics</label>
            <tab>metrilo</tab>
            <!-- resource tag name which we have to defined in the acl.xml -->
            <resource>Metrilo_Analytics::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <comment>
                    <![CDATA[
                    <div id="metrilo-info">
                        <div class="metrilo-logo"></div>
                        <div class="text">
                            This module was developed by <a href="http://metrilo.com" target="_blank">Metrilo.com</a><br />
                            If you encounter any issues, let us know at <a href="mailto:support@metrilo.com">support@metrilo.com</a>. We'll be happy to assist you!
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    ]]>
                </comment>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" sortOrder="20" type="text" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends><field id="enable">1</field></depends>
                    <label>API key</label>
                    <validate>required-entry</validate>
                    <backend_model>Metrilo\Analytics\Model\Trimmed</backend_model>
                </field>
                <field id="api_secret" sortOrder="30" type="text" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends><field id="enable">1</field></depends>
                    <label>API Secret</label>
                    <validate>required-entry</validate>
                    <backend_model>Metrilo\Analytics\Model\Trimmed</backend_model>
                </field>
                <field id="api_endpoint" sortOrder="40" type="text" translate="label" showInDefault="0" showInWebsite="0" showInStore="0">
                    <depends><field id="enable">1</field></depends>
                    <label>API Url</label>
                    <backend_model>Metrilo\Analytics\Model\Trimmed</backend_model>
                </field>
                <field id="activity_endpoint" sortOrder="40" type="text" translate="label" showInDefault="0" showInWebsite="0" showInStore="0">
                    <depends><field id="enable">1</field></depends>
                    <label>ACTIVITY Url</label>
                    <backend_model>Metrilo\Analytics\Model\Trimmed</backend_model>
                </field>
                <field id="import" sortOrder="50" type="button" translate="label" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Import</label>
                    <button_label><![CDATA[Import]]></button_label>
                    <button_url>
                        <![CDATA[metrilo/analytics/import]]>
                    </button_url>
                    <frontend_model>Metrilo\Analytics\Block\System\Config\Button\Import</frontend_model>
                    <comment>First set API token and secret before import.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
